.checkout-page {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9; /* Светлый фон */
    border: 1px solid #ddd; /* Тонкая граница */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Тень для объема */
}

.checkout-page h1 {
    font-size: 2rem;
    color: #333; /* Темный цвет текста */
    text-align: center; /* Центрирование заголовка */
    margin-bottom: 20px;
}

.checkout-page h2 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 15px;
}

.checkout-page h3 {
    font-size: 1.2rem;
    color: #29b54d; /* Заметный зеленый цвет итоговой суммы */
    text-align: right; /* Выравнивание суммы вправо */
    margin-top: 20px;
    margin-bottom: 10px;
}

.checkout-page p {
    font-size: 1rem;
    color: #888; /* Серый цвет текста */
    text-align: center;
}

.checkout-page ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0;
}

.checkout-page li {
    font-size: 1rem;
    padding: 10px 0;
    border-bottom: 1px solid #eee; /* Линия-разделитель */
    display: flex;
    justify-content: space-between; /* Текст и цена по краям */
    color: #444;
}

.checkout-page li:last-child {
    border-bottom: none; /* Убираем нижнюю линию у последнего элемента */
}