/* Контейнер страницы */
.checkout-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Заголовок страницы */
.checkout-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Подсказка с общей стоимостью */
.checkout-summary {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Товары */
.checkout-items-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.checkout-items-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.checkout-item {
    font-size: 16px;
    margin-bottom: 8px;
}

/* Стили "Изменить" кнопки */
.change-button {
    color: #29B54D; /* Зеленый цвет */
    cursor: pointer; /* Указываем, что элемент кликабельный */
    text-decoration: underline; /* Подчеркиваем текст */
    font-weight: bold; /* Делаем текст жирным */
}

.change-button:hover {
    opacity: 0.8; /* Лёгкая прозрачность при наведении */
}