.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}


.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 120px;
    height: 35px;
    border-radius: 6px;
    font-size: 12px;
    background-color: #F9A92A;
    /* transition: background-color 0.3s ease; */
    cursor: pointer;
    color: white;
    border: none;
}

.add-btn.in-cart {
    background-color: #E84D44; /* Цвет кнопки в состоянии "товар в корзине" */
    color: white;
}
